<div class="main-container">
  <h1>Rooftops</h1>

  <div class="split left">
  <div class="container">
    <div class="row">
      <% @roofs.each do |roof| %>
        <div class="col-xs-12 col-sm-4 col-md-4 main-card">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('http://dubaitravelblog.com/wp-content/uploads/2017/02/best-rooftop-bars-in-Dubai.jpg');">
            <div class="card-category">
              <h3> <%=roof.name%> </h3>
              </div>
            <div class="card-description">
              <p> Location :<%= roof.location %>
              <br> Price :<%= roof.price %> NIS</p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="split right">
         <div class="map-container">
      <div
        id="map"
        style="width: 1600px;
              height: 800px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        <div class="split left">
        </div>
     </div>
    </div>
  
  </div>
  <%= link_to "Add a new Rooftop", new_roof_path, class: "btn button btn-start add" %>
</div>

