<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <div class="list-group ">
          <img src="https://image.ibb.co/m1jNkL/icon.jpg" id="avatar-large" class="cover-profile">
        <a href="#" class="list-group-item list-group-item-action active color">Your profile</a>
        <%= link_to 'Booking Informations', bookings_path , class: "list-group-item list-group-item-action"%>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
                <h4>Your Profile</h4>
                <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= simple_form_for(:user) do |f| %>
                <div class="form-inputs">
                  <%= f.input :first_name %>
                  <%= f.input :last_name %>
                  <%= f.input :email %>
                  <%= f.submit 'Update', class: 'btn btn-start center' %>

                </div>

              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

