<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,16,31,0.4) 10%), url(<%= image_path('search_page.png')  %>);">
  <div class="search-card"><h1 class="container1">Rent a Rooftop to make your perfect party</h1>
    <%= simple_form_for :roofs, url: roofs_path, method: :get do |f|%>
      <%= f.input :query, collection: Roof::CITIES.sort, label: "Where?",class: "form-control",selected: 1%>
      <%= f.input :date, as: :string %>
      <%= f.input :people, as: :integer, label: "How many people?" %>
      <%= f.submit "Search", class: " btn-start button-go" %>
    <% end %>
  </div>
</div>

